/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    text-align: center;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styling */
header {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    background-color: #333;
    color: #fff;
}

.logo-img {
    width: 70px;
    height: auto;
    margin-bottom: 1px; /* Reduced gap */
}

h2 {
    font-family: 'Gill Sans', sans-serif;
    letter-spacing: 6px; /* Increased spacing between letters */
    font-size: 28px;
}

h4 {
    font-size: 22px;
    font-weight: normal;
    margin: 10px 0;
}

.description {
    font-size: 16px;
    color: #bbb;
    margin-bottom: 10px;
}

/* Social Media Icons */
.social-icons img {
    max-height: 30px; /* Limiting social icon height to 30px */
    width: auto;
    margin: 5px;
}

/* Skills section */
.skills {
    margin: 40px 0;
}

.skill-icon {
    width: auto;
    max-height: 50px; /* Limiting skill icon height to 50px */
    margin: 0 15px;
    display: inline-block;
}

/* Project Grid Styling */
.projects {
    margin-bottom: 40px;
}

.projects h3 {
    font-size: 24px;
    color: #444; /* Dark gray for category names */
    margin-bottom: 20px;
}

.project-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%; /* 3 cards per row */
    max-width: 400px;
    margin-bottom: 20px;
    text-align: center;
}

.project-card img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.project-card h4 {
    font-size: 20px;
    margin: 10px 0;
}

/* More Projects Button */
.more-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #777;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}

/* Footer styling */
footer {
    background-color: #e0e0e0;
    padding: 20px 0;
    border-top: 1px solid #ccc;
}

footer p {
    font-size: 14px;
    color: #555;
}

/* Responsive styles */
@media (max-width: 768px) {
    .project-card {
        width: 100%; /* On mobile view, 1 card per row */
    }
}
